/* !TABLE */
/* ---------------------------------------------------------------------------------------------------*/
#ntwovrw table {
	margin: 10px 0;
}
#ntwovrw table tr {
	background: transparent;
	-webkit-transition: 0.5s all ease; 
	-moz-transition: 0.5s all ease; 
	-ms-transition: 0.5s all ease; 
	-o-transition: 0.5s all ease; 
	transition: 0.5s all ease;
}
#ntwovrw table tbody tr:hover {
	background: #ffffee !important;
	cursor: not-allowed;
}
#ntwovrw table tr td {
	-webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
	padding: 10px;
}
#ntwovrw table tr td:first-child {
	border-left: 4px solid #ddd;
}


/* !TABLE COLOURING */
/* ---------------------------------------------------------------------------------------------------*/
#ntwovrw table tr.good {
	background: #f9f9f9;
}
#ntwovrw table tr.good td:first-child {
	border-color: #0096cc;
}
#ntwovrw table tr.good .status {
	color: #0096cc;
}
#ntwovrw table tr.bad {
	background: #fdf5f5;
}
#ntwovrw table tr.bad td:first-child {
	border-color: #d72b2c;
}
#ntwovrw table tr.bad td.highlightme,
#ntwovrw table tr.bad span.status {
	color: #d72b2c;
}
#ntwovrw table tr.meh td:first-child {
	border-color: #999;
}

/* !FORMATTING */
/* ---------------------------------------------------------------------------------------------------*/
#ntwovrw table tr td strong {
	font-weight: 400
}
#ntwovrw table tr td code {
	font-size: 11px;
	color:#999;
	line-height: 1em;
}
#ntwovrw table tr td .nerd {
	display: none;
}
#ntwovrw table tr td ul {
	margin: 0;
	padding: 0;
}
#ntwovrw table tr td ul li:before {
	/* custom bullets here */
}

/* !CREDIT */
/* ---------------------------------------------------------------------------------------------------*/
#ntwovrw #streetcred {
	font-size: 10px;
	margin-bottom:0;
}
#ntwovrw #streetcred,
#ntwovrw #streetcred a:link,
#ntwovrw #streetcred a:visited {
	color: #ccc;
	text-decoration: none;	
}
#ntwovrw #streetcred a:hover,
#ntwovrw #streetcred a:visited:hover {
	color: #666;
}